@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  min-height:100vh; 
	display:flex; 
	flex-direction:column; 
 
}
a{
  text-decoration: none;
  color:indigo;
}
ul{
margin: 0;
  padding: 0;
  list-style: none;}
li{
  text-decoration: none;
}


.header{
  display:flex;
  padding:15px;
  justify-content: space-between;

}
.left-links,.right-links{
  display:flex;
  gap:15px;
}
.footer{
  display:flex;
    padding:15px;
    background-color: lightgrey;
    justify-content: space-between;
    margin-top:auto;

}


.content{
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex:1;
}
img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding:8px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
    margin-bottom:8px;

}

