.odd {
    background-color: lightpink;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}
.big{
  
    font-size:24px;

}
#blue2{
    color:blue;
    font-size:36px;
}
#green4{
    background-color: lightgreen;
    font: size 24px;
    font-weight:bold;
}