body {
  background: #eee;
  font-family: Garamond, serif;
  font-size:16px;
}

.card {
  width: 400px;
  background: #fff;
  margin: 6px auto;
  padding:10px;
}

.title {
  background: #e3f4ff;
  margin-bottom:8px;
  padding:10px;
}

.content {
  background: #e3f4ff;
  margin-bottom:10px;
  padding:15px;
}

.button-container {
  background: #e3f4ff;
  text-align:center;
}

button {
  background: white;
  border: 1px solid #eee;
  display:block;
  margin:auto;
}